* { margin: 0; padding: 0;}

html,body {
  height: 100%;
}

body {
  font-size: 1em;
  font-family: Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 1.5;
  color: #333;
  background: #fff;
}

.side-column{
	background-color: #fbfbfb;
	padding: 50px;
}

.alternate-side-column{
	background-color: #f8f8f8;
	padding: 50px;
}

#profile{
	/*max-width: 250px;*/
	margin: auto;
    top: 50%;
}

.right-content{
	padding: 20px;
	padding-top: 50px;
	padding-bottom: 50px;
	max-width: 1000px;
	text-align: left;
	margin-left: 25px;
	margin-right: auto;
}

.left-content-profile{
	max-width: 400px;
	margin-left: auto;
}

.left-content{
	text-align: right;
	max-width: 400px;
	margin-left: auto;
}

#surname{
	display: block;
	font-size: 4em;
	font-weight: 300;
	color: #939393;
	line-height: 0.9;
}

#firstname{
	display: block;
	font-size: 4em;
	text-transform: lowercase;
	font-weight: 700;
	color: #00BFFF;
	line-height: 0.9;
	margin-bottom: 20px;
}

#intro{
	display: block;
	font-size: 1.5em;;
	font-weight: 300;
	color: #939393;
	line-height: 1.2;
	margin-bottom: 15px;
}

p{
	font-size: 1em;
	font-weight: 350;
	color: #939393;
	margin-bottom: 0px;
}

#about{
	font-size: 1.25em;
	margin-bottom: 20px;
    text-align: justify;
}

.fa-col-1{
	color: #939393;
}

.fa-col-2{
	color: #00BFFF;
}

/*--- FontAwesome Enhancement ---*/
* > .fa.fa-hover-show,
*:hover > .fa.fa-hover-hidden {
  display: none;
}

*:hover > .fa.fa-hover-show {
  display: block;
  cursor: pointer;
}

.alternate_row{
	background: #fcfcfc;
}

#section-heading{
	display: block;
	font-size: 1.1em;
	text-transform: uppercase;
	font-weight: 600;
	color: #727272;
	line-height: 1;
}

#sidebar-heading{
	display: block;
	font-size: 1.1em;
	text-transform: uppercase;
	font-weight: 600;
	color: #727272;
	line-height: 1;
}

.section-line{
	height: 5px;
    width: 30%;
    margin-top: 0.55em;
    margin-bottom: 0.935em;
    text-align: left;
    color: #00BFFF;
    background: #00BFFF;
    border-color: #ececec;
}

.project-icon{
	color: #00BFFF;
	margin-left: 10px;
}

.more-icon{
	color: #00BFFF;
	margin-left: 5px;
}

/*==================================
    TIMELINE
==================================*/

    /*-- GENERAL STYLES
    ------------------------------*/
    .timeline {
        line-height: 1.4em;
        list-style: none;
        margin: 0;
        padding: 0;
        width: 100%;
        h1, h2, h3, h4, h5, h6 {
            line-height: inherit;
        }
    }

    /*----- TIMELINE ITEM -----*/

    .timeline-item {
        padding-left: 40px;
        position: relative;
        &:last-child {
            padding-bottom: 0;
        }
    }

    /*----- TIMELINE INFO -----*/

    .timeline-info {
        font-size: 0.6em;
        font-weight: 500;
        letter-spacing: 3px;
        margin: 0 0 .5em 0;
        text-transform: uppercase;
        white-space: nowrap;
    }
    /*----- TIMELINE MARKER -----*/

    .timeline-marker {
        position: absolute;
        top: 0; bottom: 0; left: 0;
        width: 15px;
    }
    .timeline-marker::before {
        background: #00BFFF;
        border: 3px solid transparent;
        border-radius: 100%;
        content: "";
        display: block;
        height: 15px;
        position: absolute;
        top: 4px; left: 0;
        width: 15px;
        transition: background 0.3s ease-in-out,
                border 0.3s ease-in-out;
    }
    .timeline-marker::after {
        content: "";
        width: 3px;
        background: #CCD5DB;
        display: block;
        position: absolute;
        top: 24px; bottom: 0; left: 6px;
    }
    .timeline-item:not(.period):hover .timeline-marker:before {
        background: transparent;
        border: 3px solid #00BFFF;
    }

    /*----- TIMELINE CONTENT -----*/

    .timeline-content {
        padding-bottom: 40px;
        p:last-child {
            margin-bottom: 0;
        }
    }

    /*----- TIMELINE PERIOD -----*/
    
    .period {
        padding: 0;
    }

    .period > .timeline-info{
    	display: none;
    }
        
    .period > .timeline-marker::before{
                background: transparent;
        content: "";
        width: 15px;
        height: auto;
        border: none;
        border-radius: 0;
        top: 0;
        bottom: 30px;
        position: absolute;
        border-top: 2px solid #CCD5DB;
        border-bottom: 2px solid #CCD5DB;
   	}

   	.period > .timeline-marker::after{
        content: "";
        height: 32px;
        top: auto;
   	}

    .period > .timeline-content {
        padding: 40px 0 70px;
    }

	.period > .timeline-title {
       	margin: 0;
       }


@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    #sidebar-heading {
        text-align: center;
    }
}