<div class="row">
  <!-- <h2>About Me</h2> -->
  <hr>
  <div class="col-sm-3">
    <div>
      <img src="static/img/profile_pic.jpeg" width="100%">
    </div>
  </div>
  <div class="col-sm-8">
    <p class="content"> 
    I am a first year Computer Science MS (specialization in Machine Learning) student at <a target="_blank" href="https://www.gatech.edu/">Georgia Tech</a> advised by <a target="_blank" href="https://www.cc.gatech.edu/~dbatra/"> Prof. Dhruv Batra</a> and work closely with <a target="_blank" href="https://www.cc.gatech.edu/~parikh/"> Prof. Devi Parikh</a>. I closely collaborate with <a href="https://abhishekdas.com/" target="_blank">Abhishek Das</a>.
    </p>

    <p class="content">
    My research focuses on building agents that can see, reason, and interact reasonably. Currently, I am working on building embodied agents that can learn to solve tasks that require visual explore by imitating human like behavior.
    </p>
    <p class="content">
    I also lead an open source organization, <a target="_blank" href="https://cloudcv.org/">CloudCV</a>, where we are building several open-source softwares for reproducible AI research.
    Previously, I spent a year working as a Research Intern in <a target="_blank" href="http://mlp.cc.gatech.edu/">Machine Learning and Perception Lab</a> at Georgia Tech advised by <a target="_blank" href="https://www.cc.gatech.edu/~dbatra/"> Prof. Dhruv Batra</a> and <a target="_blank" href="https://www.cc.gatech.edu/~parikh/"> Prof. Devi Parikh</a>. I also spent 3 years working as a Software Development Engineer, most recently working in the engineering team at <a target="_blank" href="https://www.glance.com/">Glance</a>.
    </p>
    
    <p class="content">If you have any questions / want to collaborate / discuss research, feel free to send me an email at <a href="mailto:ram.ramrakhya@gatech.edu">ram.ramrakhya@gatech.edu</a>.</p>

  </div>
</div>

