<div class="row">

  <h2>Education</h2>
  <hr>

  <div class="row">
    <div class="col-sm-9">
      <h3 class="content_heading">Masters in Computer Science</h3>
      <h4 class="content_heading">Georgia Institute of Technology, Atlanta</h4>
        <p class="content">Thesis title: Learning Embodied Visual Exploration from Humans </p>
    </div>
    <div class="col-sm-3" align="center">
      <img src="static/img/gt.png" width="80%">
      <p>(August 2021 - Present)</p>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-9">
      <h3 class="content_heading">Bachelor of Engineering in Information Technology</h3>
      <h4 class="content_heading">Pune Institute of Computer Technology, Pune, India</h4>
    </div>
    <div class="col-sm-3" align="center">
      <img src="static/img/pict_logo.png" width="50%">
      <p>(August 2015 - May 2018)</p>
    </div>
  </div>

</div>
