
<div class="row">

	<h2>Publications</h2>
  <hr>

  <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
    <tbody>

      <tr>
        <td width="30%"><img src="projects/static/habitat-web/imgs/teaser_isometric.png" alt="3DSP" width="300" height="auto" style="border-style: none"></td>
        <td valign="top" width="70%">
          <a target="_blank" href="">
          <papertitle>Habitat-Web: Learning Embodied Object-Search Strategies from Human Demonstrations at Scale</papertitle>
          </a>
          <br>
          <b>Ram Ramrakhya</b>,
          Eric Undersander,
          Dhruv Batra,
          Abhishek Das
          <br>
            <conference>CVPR, 2022</conference> <br>
            <a target="_blank" href="">arxiv</a> /
            <a target="_blank" href="https://ram81.github.io/projects/habitat-web.html">website</a> /
            <a target="_blank" href="https://github.com/Ram81/habitat-web">code</a>
          <br>
          <br>
        </td>
      </tr>

      <tr>
        <td width="30%"><img src="static/img/fabrik.png" alt="3DSP" width="300" height="auto" style="border-style: none"></td>
        <td valign="top" width="70%">
          <a target="_blank" href="https://arxiv.org/abs/1810.11649">
          <papertitle>Fabrik: An Online Collaborative Neural Network Editor</papertitle>
          </a>
          <br>
          Utsav Garg,
          Viraj Prabhu,
          Deshraj Yadav,
          <b>Ram Ramrakhya</b>,
          Harsh Agarwal,
          Dhruv Batra
          <br>
            <conference>AI for Systems Workshop (SOSP), 2019</conference> <br>
            <!-- <abstract>We present Fabrik, an online neural network editor that provides tools to visualize, edit, and share neural networks from within a browser. Fabrik provides a simple and intuitive GUI to import neural networks written in popular deep learning frameworks such as Caffe, Keras, and TensorFlow, and allows users to interact with, build, and edit models via simple drag and drop. Fabrik is designed to be framework agnostic and support high interoperability, and can be used to export models back to any supported framework. Finally, it provides powerful collaborative features to enable users to iterate over model design remotely and at scale.</abstract> 
            <br> -->
            <a target="_blank" href="https://arxiv.org/abs/1810.11649">arxiv</a> /
            <a target="_blank" href="https://github.com/Cloud-CV/Fabrik">code</a>
          <br>
          <br>
        </td>
      </tr>

    </tbody>
  </table>
</div>
